* {
  font-family: 'Gowun Dodum', sans-serif;
}

body{
  background-image: 
            url("http://cdn.edujin.co.kr/news/photo/202301/41207_83558_282.jpg");
  background-position: center 30%;
  background-size: cover;
}

.header{
  width: 100%;
  height: 100px;
  background-color: #ffffff;
        background-color: rgba( 255, 255, 255, 0.5 );
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.searchBox{
  width: 500px;
  display: flex;
  align-items: center;
  margin: 20px auto 0px auto;
}

.searchipt{
  width: 250px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.searchbtn{
  width: 50px;
  height: 30px;
}

.mycards {
  margin: 20px auto 0px auto;
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
